<app-navbar></app-navbar>
<div class="container shadow-lg p-5 mb-5 mt-5 bg-body rounded">
  <h1 class="mb-3">Registration Fee:</h1>
  <div class="fee">
    <table>
      <tr>
        <th>Student</th>
        <th>Faculty</th>
        <th>Industry Delegates</th>
      </tr>
      <tr>
        <td>8000/-</td>
        <td>9000/-</td>
        <td>10,000/-</td>
      </tr>
    </table>
  </div>
  <div class="mt-3">
    <h1>Registration Form</h1>
    Name: _________________ <br />
    Organization:________________ <br />
    Department:_______________ <br />
    Track:_____________________ <br />
    Paper Title:___________________ <br />
    Number of Authors:______________ <br />
    Mode of Presentation(Online/Offline): <br />
    Transaction Details: ______________ <br />
    Transaction ID:____________ <br />
    Signature:______________ <br />
  </div>
  <div class="account">
    <h1>Account Details</h1>
    <table>
      <tr>
        <th>Name of Account Holder</th>
        <td>The Principal, GIET Rajahmundry</td>
      </tr>
      <tr>
        <th>Email ID</th>
        <td><a href="mailto:principal@giet.ac.in">principal@giet.ac.in</a></td>
      </tr>
      <tr>
        <th>Designation</th>
        <td>Principal</td>
      </tr>
      <tr>
        <th>Account Number</th>
        <td>238111100000742</td>
      </tr>
      <tr>
        <th>Bank Name</th>
        <td>Union Bank of India</td>
      </tr>
      <tr>
        <th>Branch Name and Address</th>
        <td>Adi Kavi Nannayya University Campus, Velugubanda Village, Rajanagaram Mandal, East Godavari District, Andhra Pradesh</td>
      </tr>
      <tr>
        <th>IFSC Code</th>
        <td>UBIN0823813</td>
      </tr>
    </table>
    
  </div>
</div>
