<app-navbar></app-navbar>
<div class="container shadow-lg p-5 mb-5 mt-5 bg-body rounded">
  <h1 style="text-align: center;">Registration</h1>
  <br>
  <h3 class="mb-3">Conference Fee:</h3>
  <div class="fee">
    <table>
      <tr>
        <th>Student/Research Scholar</th>
        <th>Faculty</th>
        <th>Industry Delegates</th>
      </tr>
      <tr>
        <td>2,000/-</td>
        <td>2,500/-</td>
        <td>3,000/-</td>
      </tr>
    </table>
  </div>
  <br>
  <h3>Authors will be given 3 options for publishing their Manuscript:</h3>
  <ul>
    <li>Proceeding with ISBN</li>
    <li>Indian Journal of Science and Technology(WOS Journal):12,000/-</li>
    <li>Web of Science Journal (confirmation pending):8,000/-</li>
  </ul>
  <br>
  <div class="mt-3">
    <h3>Registration Form:</h3>
    Name: _________________ <br />
    Organization:________________ <br />
    Department:_______________ <br />
    Track:_____________________ <br />
    Paper Title:___________________ <br />
    Number of Authors:______________ <br />
    Mode of Presentation(Online/Offline): <br />
    Transaction Details: ______________ <br />
    Transaction ID:____________ <br />
    Transaction Date: ______________ <br />
    Transaction Amount:____________ <br />
    Signature:______________ <br />
  </div>
  <br>
  <div class="account">
    <h3>Account Details:</h3>
    <table>
      <tr>
        <th>Name of Account Holder</th>
        <td>The Principal, GIET Rajahmundry</td>
      </tr>
      <tr>
        <th>Email ID</th>
        <td><a href="mailto:principal@giet.ac.in">principal@giet.ac.in</a></td>
      </tr>
      <tr>
        <th>Designation</th>
        <td>Principal</td>
      </tr>
      <tr>
        <th>Account Number</th>
        <td>238111100000742</td>
      </tr>
      <tr>
        <th>Bank Name</th>
        <td>Union Bank of India</td>
      </tr>
      <tr>
        <th>Branch Name and Address</th>
        <td>Adi Kavi Nannayya University Campus, Velugubanda Village, Rajanagaram Mandal, East Godavari District, Andhra Pradesh</td>
      </tr>
      <tr>
        <th>IFSC Code</th>
        <td>UBIN0823813</td>
      </tr>
    </table>
    
  </div>
  <br>
  <h3>Registration Fee includes the following:</h3>
  <p>Participation in the technical program, Lunch, Coffee/Tea Breaks, DVD Proceedings,
    Certificates, Conference Kit - Bag, Notepad, Pen etc. (1 conference kit per registration)
    </p>
    <br>
    <h3>Registration Documents:</h3>
    <ul>
      <li>Final Revised Paper [Revised Manuscript with Highlighted Changes]</li>
      <li>Response to Reviewer Comments</li>
      <li>Registration form</li>
      <li>Payment Acknowledgement Screenshot </li>
    </ul>
    <p>
      All these documents to be submitted via email to icrtit2023@gmail.com
      </p>
      <br>
      <h3>Cancellation/Refund Policy:</h3>
      <p>After the registration, cancellation/refund is not permitted.</p>
</div>
