<app-navbar> </app-navbar>
<div class="container shadow-lg p-3 mb-5 mt-5 bg-body rounded">
  <img src="" alt="" />
  <h1>Advisory Committee</h1>
  <ul class="mt-4">
    <li>
      Dr Srinivasulu Uppari, Data Specialist, Higher College Of Technology,
      UAE<br />
    </li>
    <li>
      Dr Mohammad Jannati, Professor, Universiti Teknologi Malaysia, Malaysia<br />
    </li>
    <li>Dr Ramesh Bansal, Professor, University of Sharjah, UAE<br /></li>
    <li>
      Dr Venkataramana Guntreddi, Professor, Kampala International University,
      Uganda<br />
    </li>
    <li>Dr Nagu Daraboina, Associate Director, TUPDP, USA<br /></li>
    <li>Dr Ravi Gujjula, Chief General Manager, APSSDC<br /></li>
    <li>
      Dr Sunilkumar N, Professor in Civil Engineering, Cochin University of
      Science and Technology<br />
    </li>
    <li>Dr G Prasanthi, Professor, JNTUA<br /></li>
    <li>
      Dr Mohammed Ali Hussain, Professor and Assoc, Dean R & D, KL University<br />
    </li>
    <li>Dr G Kiran Kumar, Assistant Professor, NIT AP<br /></li>
    <li>Dr Satheesh Kumar, Professor, JNTUH<br /></li>
    <li>
      Dr Jagadeesh Babu Bellam, Assistant Professor, Madanapalle Institute of
      Technology & Science (MITS)<br />
    </li>
    <li>Dr B Ravi Kumar, Associate Professor, IIT, Hyderabad<br /></li>
    <li>Dr Linga Raju, Associate Professor, JNTUK<br /></li>
    <li>Dr B Suryanarayana Sastry, Professor, IIT-Kharagpur<br /></li>
    <li>Dr Srinivasa Reddy, Assistant Professor, UPES, Dehradun<br /></li>
    <li>
      Dr Aabid Hussain Shaik, Associate Professor, Vellore Institute of
      Technology, Vellore, Tamilnadu<br />
    </li>
    <li>
      Dr Anandrup Goswami, Associate Professor, Vignan's Foundation for Science
      Technology and Research<br />
    </li>
  </ul>
</div>
