<app-navbar> </app-navbar>
<div class="container shadow-lg p-3 mb-5 mt-5 bg-body rounded">
  <img src="" alt="" />
  <h1>Technical Committee </h1>
  <ul class="mt-4">
    <li>Dr B Sujatha, HoD, CSE<br /></li>
    <li>Dr R Tamil Kodi, HoD, AIML & CS, MCA<br /></li>
    <li>Dr B Srinivas Raja, HoD, ECE<br /></li>
    <li>Dr D Ravi Kishore, HoD, EEE<br /></li>
    <li>Dr D Venkateswarlu, HoD, CIVIL<br /></li>
    <li>Dr E Nirmala Devi, HoD, Mech<br /></li>
    <li>Dr V Subrahmanyam, HoD, AME and Mining<br /></li>
    <li>Mr Ahmmad Sharif, HoD, PET<br /></li>
    <li>Dr B V R Naidu, HoD, DMS<br /></li>
    <li>Dr S Srigowri, HoD, FED<br /></li>
  </ul>
</div>
