<app-navbar> </app-navbar>
<div class="container shadow-lg p-3 mb-5 mt-5 bg-body rounded">
  <img src="" alt="" />
  <h1>Patrons</h1>
  <ul class="mt-4">
    <li>Dr Sreenivasa Rao, Director, GIET Institutions<br /></li>
    <li>Dr T V Prasad, Director QA , GIET Institutions<br /></li>
    <li>Dr P M M S Sarma, Principal, GIET(A)<br /></li>
  </ul>
  <h1>Co-Patrons</h1>
  <ul>
    <li>Dr R S Raju, Director, R&D, GIET (A)</li>
    <li>Dr N Leelavathy, Vice Principal (Acad.), GIET(A)</li>
    <li>Dr S V S N Murthy,Vice Principal (Admn), GIET(A)</li>
  </ul>
  <h1>Convenor</h1>
  <ul>
    <li>Dr Shrija Madhu, CSE(Cybersecurity)</li>
  </ul>
  <h1>Co-Convenor</h1>
  <ul>
    <li>Mr Shiva Krishna Loke, FED</li>
  </ul>
</div>
