<app-navbar> </app-navbar>
<div class="container shadow-lg p-3 mb-5 mt-5 bg-body rounded">
  <img src="" alt="" />
  <h1>Reviewing Committee</h1>
  <ul class="mt-4">
    <li>
        Dr M Anil Kumar, HoD CSE, ACET, Surampalem
        <br />
    </li>
    <li>
        Dr N Sunil Kumar, HoD Civil, CUSAT, Kochi
        <br />
    </li>
    <li>Dr R Tamilkodi, HoD AIML & CS,GIET(A)
        <br /></li>
    <li>
        Dr A Vanathi, HoD CSE, AEC, Surampalem
        <br />
    </li>
    <li>Dr P Venkatarao, Professor ECE, GIET(A)<br /></li>
    <li>Dr D Venkateswaralu, HoD Civil, GIET(A)
        <br /></li>
    <li>
        Dr Ashok Koujalagi, Asst.Prof. MCA, GIET(A)<br />
    </li>
    <li>Dr N Leelavathy, Professor CSE, GIET(A)<br /></li>
    <li>
        Dr P Sri Ram , HoD DS, GIET(A)<br />
    </li>
    <li>Mrs K Jyothi, Assoc.Prof. ECE, GIET(A)<br /></li>
    
  </ul>
</div>

