<app-navbar> </app-navbar>
<div class="container shadow-lg p-3 mb-5 mt-5 bg-body rounded">
  <img src="" alt="" />
  <h1>Organizing Committee</h1>
  <ul class="mt-4">
    <li>Dr P Venkatarao, ECE</li>
    <li>Dr P Sri Ramchandra, DS<br /></li>
    <li>Dr K Ashok Koujalagi, CSE<br /></li>
    <li>Dr Ch Leela Kumari, EEE<br /></li>
    <li>Dr Venkata Ramana, Avula, PET<br /></li>
    <li>Dr Y Vinod Kumar, MINING<br /></li>
    <li>Ms Ch Gowri, ECE<br /></li>
    <li>Mr B Joga Rao, ME<br /></li>
    <li>Mr V Bala Sankar, AIML & CS<br /></li>
    <li>Mr Shiva Krishna Loke, FED<br /></li>
    <li>Mr Ch Srinivas, Civil<br /></li>
    <li>Mr P Venu Gopal, AME<br /></li>
    <li>Mr V Naga Srinivas, MCA<br /></li>
  </ul>
</div>
