<app-navbar> </app-navbar>
<div class="container shadow-lg p-3 mb-5 mt-5 bg-body rounded">
  <img src="" alt="" />
  <h1>Organizing Committee</h1>
  <ul class="mt-4">
    <li>Dr Shrija Madhu, Professor, CSE (Cybersecurity)<br /></li>
    <li>Dr P Sri Ramchandra, Professor, DS<br /></li>
    <li>Dr K Ashok Koujalagi, Asst. Prof, CSE<br /></li>
    <li>Dr Ch Leela Kumari, Asst. Prof., EEE<br /></li>
    <li>Dr Venkata Ramana, Avula, Assoc. Prof., PET<br /></li>
    <li>Dr Y Vinod Kumar, Asst. Prof, MINING<br /></li>
    <li>Ms Ch Gowri, Asst. Prof., ECE<br /></li>
    <li>Mr B Joga Rao, Assoc. Prof., ME<br /></li>
    <li>Mr V Bala Sankar, Asst. Prof, AIML & CS<br /></li>
    <li>Mr Shiva Krishna Loke, Asst. Prof, FED<br /></li>
    <li>Mr Ch Srinivas, Asst. Prof, Civil<br /></li>
    <li>Mr P Venu Gopal, Asst. Prof., AME<br /></li>
    <li>Mr V Naga Srinivas, Asst. Prof, MCA<br /></li>
  </ul>
</div>
