<app-navbar> </app-navbar>
<div class="container shadow-lg p-3 mb-5 mt-5 bg-body rounded">
  <img src="" alt="" />
  <h1>Organizing Committee</h1>
  <ul class="mt-4">
    <li>Dr P Venkatarao, Professor, ECE</li>
    <li>Dr P Sri Ramchandra, Professor, DS<br /></li>
    <li>Dr K Ashok Koujalagi, Professor, CSE<br /></li>
    <li>Dr Ch Leela Kumari, Professor, EEE<br /></li>
    <li>Dr Venkata Ramana, Professor, Avula, PET<br /></li>
    <li>Dr Y Vinod Kumar, Professor, MINING<br /></li>
    <li>Ms Ch Gowri, Assistant Professor, ECE<br /></li>
    <li>Mr B Joga Rao, Associate Professor, ME<br /></li>
    <li>Mr V Bala Sankar, Associate Professor, AIML & CS<br /></li>
    <li>Mr Shiva Krishna Loke, Assistant Professor, FED<br /></li>
    <li>Mr Ch Srinivas, Assistant Professor, Civil<br /></li>
    <li>Mr V Naga Srinivas, Assistant Professor, MCA<br /></li>
  </ul>
</div>
