<app-navbar> </app-navbar>
<div class="container shadow-lg p-3 mb-5 mt-5 bg-body rounded">
    <img src="" alt="" />
    <h1 class="head">Submission</h1>
    <br>
    <h3>Paper Template</h3>
   
    
    <p>Springer Paper Format</p>
    <p>Submit the full manuscript via conference Email address: icrtit2023@gmail.com Authors are invited to submit
        original papers, which have not been published elsewhere and are not currently under consideration for another
        journal, conference or workshop
        Paper submissions should be limited to a maximum of 6-8 pages, including the bibliography and any possible
        appendices. Submissions longer than 10 pages and without specified template will be rejected without review. All
        submissions will be double-blind reviewed by the technical program committee on the basis of technical quality,
        relevance to scope of the conference, originality, significance, and clarity.

    </p>
    <br>
    <h3>Requirements for Paper Submission</h3>
    <p>Authors should format the paper according to the aforementioned templates along with author and institution
        information.</p>
    <p>The authors should refer to their own past work in the submission as they would any other author's prior work,
        and should provide all relevant citations. This can be accomplished by referring to their previous work in the
        third person or by citing publications in general. To enable for repeatability, algorithms and resources
        utilized in a study should be explained as thoroughly as feasible. This covers experimental design, empirical
        analysis, and outcomes. When feasible, authors are highly urged to make their code and data publicly available.
        Furthermore, authors are highly encouraged to publish the results of their techniques on publicly available
        datasets.</p>
    <p>All papers must be novel and not simultaneously submitted to another conference. All paper submissions must
        include a title, abstract, list of keywords, methodology, results/discussion, and conclusion. All submissions
        will be subjected to a double‐blind review process by at least two reviewers.</p>
    <p>Authors should carefully review figures and appendices (especially survey instruments) to ensure the proper
        citation and quality. Authors should carefully proofread the manuscript before submitting to the conference in
        order to avoid both typographical and grammatical errors. After satisfying all the above mentioned requirements,
        author should mail their paper to icrtit2023@gmail.com . Only after acceptance, authors are allowed to sign the
        publishing agreement and register to the conference.

    </p>
<br>
    <h3>Review Result</h3>
    <p>Submitted paper will be sent to three expert referees for review. After the paper has been reviewed the result
        may be:-</p>
    <p>Major Revision Required - You must revise the paper and upload a new PDF version of the paper. When this has been
        accepted, an official acceptance letter will be sent and authors will be asked for the publication files.
        Accepted Awaiting Publication Files - Your paper has been accepted. You now need to upload the publication
        files.</p>
    <p>Rejected – The paper is unsuitable for the conference.</p>
<br>
    <h3>Publication Ethics</h3>
    <p>Researchers should conduct their research - from research proposal to publication - in line with best practices
        and codes of conduct. In rare cases it is possible that ethical issues or misconduct could be encountered in
        your journal when research is submitted for publication. In such case, the paper will be rejected

    </p>
    <br>
    <h3>Plagiarism Policy</h3>
    <p>The paper prior to submission should be checked for plagiarism. The similarity content should not exceed 15%.
        Further, you have to strictly implement the following ethical guidelines for publication:
        Any form of self-plagiarism or plagiarism from others' work(s) should be avoided.If any model / concept / figure
        / table / data by any previously published work are used in your article, authors should properly cite a
        reference to the proposed novel research work.
    </p>
    <p>If you are using any copyrighted material, you should acquire prior permission from the copyright holder.</p>
</div>