<app-navbar></app-navbar>
<img src="../../assets/png/gietbanner.jpg" alt="" />

<div class="container">
  <h1>
    International Conference on Recent Trends in Innovation and Technology
    <br />
    ICRTIT-2024 <br />
    19-20 April 2024, Rajahmundry, Andhra Pradesh, India
  </h1>
</div>
<div class="container2">
  <img src="../../assets/png/GIet Logo.png" alt="" />
  <h4>
    International Conference on Recent Trends in Innovation and Technology
    <br />
    ICRTIT-2024 <br />
    19-20 April 2024, Rajahmundry, Andhra Pradesh, India
  </h4>
  <br />
</div>

<div class="container1">
  <div class="left">
    <h5>
      International Conference on Recent Trends in Innovation and Technology
      will be held at Godavari Institute of Engineering & Technology(A),
      Rajahmundry (AP), India during April 19-20,2024. The objective of this
      International conference is to provide opportunities for the Researchers,
      Academicians, Industry personnel and students to interact and exchange
      ideas, expertise in the current trends and strategies in Information,
      Innovation and Communication Technologies. Besides this, the participants
      will also be enlightened on the vast avenues, current and emerging
      technological developments in the field of Information and Knowledge
      Computing and its applications. These will be thoroughly
      explored and discussed in the papers with new research results and new
      products or concepts are encouraged for submission and presentation.
    </h5>
  </div>
  <div class="right">
    <img src="../../assets/png/conference.jpg" data-aos="fade-left" alt="" />
  </div>
</div>
<div class="container3">
  <div class="left">
    <img
      style="max-width: 50%"
      data-aos="fade-right"
      src="../../assets/png/GIet Logo.png"
      alt=""
    />
  </div>
  <div class="right">
    <h3>About GIET(A)</h3>
    <h5>
      Godavari Institute of Engineering & Technology(A), Rajahmundry (AP).
      GIET was established in the year 1998 to offer quality engineering
      education. It is located in the serene suburbs of Chaitanya Knowledge
      City, Rajahmundry on NH-16, the sprawling 300-acres of GIET campus. GIET
      is accredited by NAAC ‘A+’ Grade with CGPA 3.37 and NIRF ranked since 2019
      consecutively. It is also recognized by the University Grants Commission
      2(f) and 12(B) and is permanently affiliated to Jawaharlal Nehru
      Technological University, Kakinada (JNTUK). GIET has collaborations with
      many International organizations.
    </h5>
  </div>
</div>
<div class="container1">
  <div class="left">
    <h3>Conference Tracks:</h3>
    <h5 style="text-align: center">
      <ul>
        <li>
          <h4>Track 1:</h4>
          Machine Learning and Intelligent Systems
        </li>
        <li>
          <h4>Track 2:</h4>
          IOT and Cloud Computing
        </li>
        <li>
          <h4>Track 3:</h4>
          Sustainable, Renewable Energy Systems and Electric Vehicles
        </li>
        <li>
          <h4>Track 4:</h4>
          Signal Processing, Image Processing and Communication
        </li>
        <li>
          <h4>Track 5:</h4>
          Materials ,Structural and Robotic Engineering
        </li>
        <li>
          <h4>Track 6:</h4>
          Emerging Technologies and Applications
        </li>
      </ul>
    </h5>
  </div>
  <div class="right">
    <img data-aos="fade-left" src="../../assets/png/announce.png" alt="" />
  </div>
</div>
<div class="container3">
  <div class="left">
    <img data-aos="fade-right" src="../../assets/png/calender.png" alt="" />
  </div>
  <div class="right">
    <h3>Important Dates:</h3>
    <h5>
      <strong>Paper Submission Deadline:</strong> 10th Feb 2024 <br />
      <strong>Notification of Acceptance:</strong> 5th Mar 2024 <br />
      <strong>Registration Ends :</strong> 15th Mar 2024 <br />
      <strong>Camera-Ready Paper Deadline:</strong> 15th Mar 2024 <br />
      <strong>Conference Dates:</strong> April 19-20,2024
    </h5>
  </div>
</div>
